* {
	margin: 0;
	font-family: "Bodoni Moda", serif;
}

body {
	background-color: black;
	background-image: url(../images/redsaptree2.gif);
	background-repeat: no-repeat;
	background-position: top center;
	height: 2760px;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.english {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Bodoni Moda";
	font-weight: 100;
	font-size: 15px;
	text-align: center;
}


.english h1 {
	margin: 0 auto;
	padding: 0;
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	font-style: italic;
	text-shadow: 2px 2px 2px red;
}

.english p {
	width: 400px;
	font-style: italic;
	text-shadow: 2px 2px 2px red;
}

.fontImage {
	float: right;
	margin-top: 450px;
	margin-right: 10%;
}

.link {
	font-family: "Bodoni Moda";
	font-weight: 600;
	font-size: 15px;
	width: 100%;
	position: absolute;
	top: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.link a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.link a:hover {
	text-decoration: none;
	color: red;
	text-align: center;
}

.english p {
	display: block;
	width: 200px;
}
